.signup-form{
  position: absolute;
  left: 65vw; 
  top: 21%;
}
input:focus {
    outline: none;
    border: none;
}
input[type="text"] {
  border: 1px solid rgb(190, 190, 190);
  padding: 1.5vh 1vw;
  border-radius: 10px;
  margin-top: 5vh;
  width: 28vw;
  }

input[type="email"] {
  border: 1px solid rgb(190, 190, 190);
  padding: 1.5vh 1vw;
  border-radius: 10px;
  margin-top: 3vh;
  width: 28vw;
  }

input[type="password"] {
  border: 1px solid rgb(190, 190, 190);
    padding: 1.5vh 1vw;
    border-radius: 10px;
    margin-top: 3vh;
    width: 28vw;
  }

  button[type="submit"] {
    border: none;
    background-color:rgb(255, 196, 0);
    padding:  1.5vh  12vw;
    border-radius:  12px;
    color: #ffffff;
    margin-top:  5vh;
  }

  button[type="submit"]:hover {
    background-color:rgb(240, 176, 0);
  }
  .input-container{
    position: relative;
  }
  .input-container i {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust according to your design */
    transform: translateY(-50%);
    color: #ccc; /* Adjust icon color as needed */
  }

  input.ng-invalid.ng-touched{
    border: 1px solid red;
  }
 

  