
<div>
      
    <div class="signup-form"> 
        <div  style="display: flex; flex-direction: column; justify-content: center; align-items: center; height:100%;">
            <div>
                <h1 style="font-family: Arial, Helvetica, sans-serif; font-weight: 400; text-align: center;">Sign Up</h1>
                <p class="mb-0">Enter your details to create your account</p>
            </div>
            <div>
                <form #form="ngForm" (ngSubmit)="onSignup()">
                    <div class="input-container" style="display: flex;flex-direction: column;">
                        <input type="text"  placeholder="Username" [(ngModel)]="signup.username" name="username" class="username-input" #name="ngModel" required>
                        <span *ngIf="name.touched && name.invalid">you should to insert username</span>
                    </div>
                    <div style="display: flex;flex-direction: column;">
                        <input type="email" placeholder="Email" [(ngModel)]="signup.email" name="email" class="email-input" #email="ngModel" email required>
                    </div>
                    <div style="display: flex;flex-direction: column;">
                        <input type="password" placeholder="Password" [(ngModel)]="signup.password" name="password" class="password-input" #password="ngModel" required>
                    </div>
                    
                    <div class="">
                        <button type="submit" class="" [disabled]="form.invalid" >Sign Up</button>
                    </div>
                </form>
            </div>
            <div class="" style="margin-top:4vh ; font-size: 1.2vw; text-align: center;">
                <p class="mb-2 text-sm mx-auto" style="font-weight: 600;">
                    Already have an account?
                    <button (click)="goToSignIn()" style="color:rgb(255, 196, 0); font-weight: 600; text-decoration: underline; border: none; background-color: white;">Sign in</button>
                </p>
            </div>
        </div>
    </div>

</div>