<div style=" padding-top: 6vh; display: flex; align-items: center; justify-content: space-between;">
    <div>
        <h4 style="padding-left: 6vw;">LOGO</h4>
    </div>
    <div style="display: flex; align-items: center;">
        <div>
            <a routerLink="/">HOME</a>
            <a href="/about">ABOUT US</a>
            <a href="/contact">CONTACT</a>
        </div>
        <div style="padding-right: 6vw;">
            <button type="button" (click)="goToSignin()">SIGN IN</button>
        </div>
    </div>
</div>

<div class="title">
    <h4>Let's Travel Together</h4>
    <p>Explore the world with fellow travelers and discover amazing experiences.</p>
    <button type="button" (click)="goToSignup()">Join Us</button>
</div>