<div class="container">

  <div class="singin-header">
    <h1>Sign in</h1>

    <div *ngIf="true">
      <p class="alert-danger">Username or Password not corect!</p>
    </div>
  </div>

  <div class="singin-body">
    <form #form="ngForm" (ngSubmit)="OnSignin()">
      <div class="form-group">
        <input type="text" placeholder="Username" [(ngModel)]="signin.username" name="username">
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password" [(ngModel)]="signin.password" name="password">
      </div>
      <div class="form-group"
        style="display: flex; justify-content: space-between; align-items: center; margin-top:5vh ;">
        <div class="form-subgroup">
          <button type="submit">Sign in</button>
        </div>
        <div class="form-subgroup">
          <a href="" style="font-weight: 600; color: rgb(255, 196, 0) ; font-size: 1vw;">Forget Password?</a>
        </div>
      </div>
    </form>
  </div>

  <div class="signin-footer">
    <button (click)="gotoSignUp()" style="border: none; background-color: white; font-weight: 500; margin: 3vh 11vw; font-size: 0.8vw;" >create account</button>
  </div>

</div>